*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: black;
}
.dots{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}